<div class="row mb-2">        
    <div class="col-2 offset-3 text-center">Start Date</div>
    <div class="col-2 text-center">End Date</div>
    <div class="col-2 text-center">Service Type</div>        
</div>

<div class="row mb-3">        
    <div class="col-2 offset-3">
        <input type="date" class="form-control">
    </div>

    <div class="col-2">
        <input type="date" class="form-control">
    </div>

    <div class="col-2">
        <select  class="form-control">
            <option>--Select---</option>
            <option>All</option>
            <option>Student</option>
        </select>
    </div>        
</div>

<div class="row">
<div class="col-2 offset-5">
    <button type="button" class="btn btn-primary">
        Submit
    </button>
</div>       
</div>
